---
import Layout from "../../layouts/Layout.astro";
import FeatureCard from "../../components/FeatureCard.astro";
---

<Layout title="Features of Our Digital Invitations - Weddinvites" metaDescription="Dive into the unique and amazing features of our digital wedding invitations. Simplify your planning process with Weddinvites." >
  <section
    class="container py-5 px-5 md:flex md:flex-wrap md:justify-between md:mx-auto lg:m-auto xl:m-auto xl:w-11/12 xl:mt-10"
  >
    <article class="mb-10 lg:text-center xl:w-full xl:text-center">
      <h1 class="text-secondd-950 uppercase text-4xl lg:text-5xl">
        FEATURES
      </h1>
      <p class="mt-5">
        The benefits of a <b>Digital Invitation</b> are endless; it would be impossible to illustrate each one of them, but we summarize the following features in the best way.
      </p>
    </article>

    <div class="grid grid-cols-1 gap-5 lg:grid-cols-3 mb-10">
      <FeatureCard
        title="Easy"
        content="Ease of use is one of the hallmarks of technology, and that's exactly what we do; it's really easy."
        icon="/buena-resena.png"
      />
      <FeatureCard
        title="Fast"
        content="Everything happens in real-time, there are no intermediaries or authorization processes, just load and view."
        icon="/subiendo.png"
      />
      <FeatureCard
        title="Eco Friendly"
        content="Striving for zero paper, no matter what ideology you pursue, zero paper is surely the perfect plan for an invitation."
        icon="/pantalla-tactil.png"
      />
    </div>

    <article class="w-full text-center mb-20">
      <h3 class="text-secondd-500 mb-5 uppercase">Self-Managed</h3>
      <p class="text-center lg:w-[80%] lg:mx-auto">
          Forget about time-consuming manual processes, stop sending and requesting changes for your invitation that take hours or days to reflect, and instead manage your invitation in a personalized way whenever and wherever you want.
      </p>
      <img
        src="/auto-gestionable.jpg"
        alt=""
        class="mx-auto mt-10 shadow-xl rounded-md border-2 border-secondd-300 lg:w-2/3"
      />
    </article>

    <div class="grid grid-cols-1 gap-5 lg:grid-cols-2 mb-20">
      <article class="text-center mb-10">
        <h4 class="text-secondd-500 mb-5 uppercase">Custom Design</h4>
        <p>
            Use your colors, fonts, images, and customize your invitation with personalized designs to give it that unique touch that a wedding invitation must have.
        </p>
        <img
          src="/diseno-personalizado.jpg"
          alt=""
          class="mx-auto mt-10 shadow-xl rounded-md border-2 border-secondd-300 lg:w-2/3"
        />
      </article>
      <article class="text-center mb-10">
        <h4 class="text-secondd-500 mb-5 uppercase">Unlimited Changes</h4>
        <p>
            Make as many changes as you need to your digital invitation, without restrictions or usage fees, modify and share your invitation as many times as you need.
        </p>
        <img
          src="/auto-gestionable.jpg"
          alt=""
          class="mx-auto mt-10 shadow-xl rounded-md border-2 border-secondd-300 lg:w-2/3"
        />
      </article>
    </div>

    <div class="w-full text-center">
      <h4 class="text-secondd-500 mb-5 uppercase">And Much More...</h4>
      <p class="lg:w-[80%] lg:mx-auto">
          The myriad of features and benefits of a digital invitation make it impossible to find any negative aspects to our solution where everything is a benefit.
      </p>

      <div>
        <img src="/more-features.png" alt="" class="mx-auto" />
      </div>
    </div>
  </section>
</Layout>
