---
import Layout from '../../layouts/Layout.astro'
import Plan from '../../components/Plan.astro'
import ItemPlan from '../../components/ItemPlan.astro'
import HowWorks from '../../components/HowWorks.astro'
import CardReview from '../../components/CardReview.astro'
import Faqs from '../../components/home/Faqs'
import Highlights from '../../components/home/Highlights'

import '../../styles/utils.css'

const info = {
  steps: [
    {
        step: "Create an account",
        summary: "Just some clicks",
        icon: "usuario.png",
    },
    {
        step: "Welcome",
        summary: "Let's work together",
        icon: "pantalla-tactil.png",
    },
    {
        step: "Upload your content",
        summary: "Customize your invite",
        icon: "subiendo.png",
    },
    {
        step: "Share",
        summary: "Go on line and share",
        icon: "buena-resena.png",
    }
  ],
  highlights: [
    {
      title: "Modern Convenience",
      content: "Experience convenience and time savings with our <strong>digital wedding invitations</strong>, eliminating the need for physical processes and speeding up the preparation process."
    },
    {
      title: "Confirmation Management",
      content: "Simplify planning with the ease of sending and the ability to manage attendance confirmations efficiently through our <strong>electronic wedding invitations</strong>."
    },
    {
      title: "Quality-Price Relationship",
      content: "Discover affordability without sacrificing quality. Our <strong>digital invitations</strong> have no printing or shipping costs, allowing you to stick to your budget without compromising style."
    },
    {
      title: "Unlimited Custom Design",
      content: "Express your unique style with our wide range of customizable design options. Each couple finds the perfect invitation that reflects their personality."
    },
    {
      title: "Commitment to Sustainability",
      content: "Celebrate your love and care for the planet. Our <strong>digital invitations</strong> are not only elegant, but also sustainable, reducing paper consumption and minimizing waste."
    },
    {
      title: "Total Flexibility",
      content: "Adapt the details of your wedding with ease. Our <strong>customized digital invitations</strong> offer total flexibility, allowing quick changes and updates according to your needs."
    }
  ],
  faqs: [
    {
      question: "Why should I choose digital invitations instead of physical ones?",
      answer: "Digital invitations offer convenience and time savings, perfect for busy couples looking to simplify their planning process."
    },
    {
      question: "How do the costs of digital invitations compare to physical ones?",
      answer: "Our digital invitations eliminate printing and shipping costs, offering a more affordable option without compromising quality or style."
    },
    {
      question: "Are there limitations in the design of digital invitations?",
      answer: "On the contrary! We offer a wide range of customizable design options, allowing couples to express their style uniquely."
    },
    {
      question: "How do digital invitations contribute to environmental sustainability?",
      answer: "We value the environment. By choosing digital invitations, you are reducing paper consumption and contributing to environmental conservation."
    },
    {
      question: "Can I make last-minute changes to my digital invitations?",
      answer: "Yes, flexibility is key. You can make quick and easy changes to the details of your wedding, giving you total control over your invitations."
    }
  ]
}
---

<Layout title="Digital Wedding Invitations - Weddinvites" metaDescription="Discover the most elegant and customizable digital wedding invitations for your special day. Find the perfect solution for your invitations with Weddinvites." >
  <section>
    <section class="relative h-[400px] overflow-hidden lg:h-[550px]">
      <div>
        <video src="/wedding-invites.mp4" class="w-full"></video>
      </div>
      <div
        class="absolute top-0 flex flex-col justify-center align-middle w-full h-full"
      >
        <div class="container lg:m-auto xl:m-auto xl:w-11/12">
          <h2
            class="block text-center leading-normal mb-14 text-white font-bold font-paris md:text-[3.75rem] lg:mb-1 lg:text-secondd-800"
          >
            Welcome to Weddinvites!
          </h2>
          <p
            class="bg-secondd-50 text-2xl text-center py-5 px-5 md:bg-transparent md:text-white sm:text-3xl xl:w-[80%] xl:m-auto"
          >
          The perfect destination to transform your <strong>wedding invitations</strong> into unique digital experiences.
          </p>
        </div>
      </div>
    </section>

    <section
      class="container py-5 px-5 -mt-5 md:mt-5 md:flex md:flex-wrap md:mx-auto md:items-center lg:m-auto lg:justify-between lg:mt-10 xl:m-auto xl:w-11/12 xl:mt-10"
    >
      <article class="mb-6 px-4 lg:w-2/3">
        <h1 class="uppercase text-[2.5rem] text-secondd-800">Digital Invitations</h1>
        <span class="uppercase font-lora text-[1.5rem] block mb-5 text-secondd-500 -mt-1">
          For Unforgettable Celebrations
        </span>
        <p class="mb-3">
          Discover the magic of our <strong>digital wedding invitations</strong>, designed to captivate your senses and reflect your love story uniquely. At Weddinvites, creativity is our distinctive hallmark.
        </p>
        <p class="mb-3">
          Imagine your wedding with invitations that go beyond the conventional. Fall in love with our creations, from classic to cutting-edge. We offer <strong>wedding invitations</strong> designs that captures the essence of your love.
        </p>
        <p class="mb-3">
          Discover the convenience of our <strong>electronic wedding invitations</strong>. In a fast-paced world, Weddinvites offers you an easy-to-use solution, accessible anytime, anywhere. Simplify your invitation-sending process and take the first step toward an unforgettable wedding.
        </p>
        <p>
          At Weddinvites, we are passionate about offering <strong>virtual wedding invitations</strong> of the highest quality. Our commitment to elegant design and meticulous attention to detail positions us as leaders in the market for elegant <strong>digital wedding invitations</strong>. We customize each invitation to reflect the individuality of each couple.
        </p>
      </article>
      <article class="lg:w-1/3">
        <img class="gradient-mask-bottom" src="/bodas-increibles.png" />
      </article>
    </section>

    <section
      class="container py-5 px-5 md:flex md:flex-col md:justify-between md:mx-auto lg:m-auto xl:m-auto xl:w-11/12 xl:mt-10"
    >
      <article class="mb-6 lg:text-center xl:w-full xl:text-center">
        <h2 class="text-secondd-950 uppercase mb-5">Our Plans</h2>
        <p class="mb-3">
          Elevate your wedding to new heights with our <strong>digital wedding invitations</strong>. Discover the magic of Weddinvites and start your journey to a unique digital invitation experience.
        </p>
        <p>
          <strong>Make your celebration starts with an invite that shows your style and values!</strong>
        </p>
      </article>
      <article class="grid grid-cols-1 gap-5 md:grid-cols-2 xl:grid-cols-4">
        <Plan name="Save the Date" pricing="0" label="Free plan">
          <ul slot="includes">
            <ItemPlan name="Couple's info" include={1} />
            <ItemPlan name="Event's Date and Time" include={1} />
            <ItemPlan name="Ceremony info" include={1} />
            <ItemPlan name="Celebration info" include={1} />
            <ItemPlan name="Our parent's section" include={0} />
            <ItemPlan name="Dress code section" include={0} />
            <ItemPlan name="Event program / Itinerary" include={0} />
            <ItemPlan name="Gift's table" include={0} />
            <ItemPlan name="Our history" include={0} />
            <ItemPlan name="Good wishes" include={0} />
          </ul>
        </Plan>
        <Plan name="Amor" pricing="139.00" label="Try free for 15 days">
          <ul slot="includes">
            <ItemPlan name="Couple's info" include={1} />
            <ItemPlan name="Event's Date and Time" include={1} />
            <ItemPlan name="Ceremony info" include={1} />
            <ItemPlan name="Celebration info" include={1} />
            <ItemPlan name="Our parent's section" include={1} />
            <ItemPlan name="Dress code section" include={1} />
            <ItemPlan name="Event program / Itinerary" include={0} />
            <ItemPlan name="Gift's table" include={0} />
            <ItemPlan name="Our history" include={0} />
            <ItemPlan name="Best wishes" include={0} />
          </ul>
        </Plan>
        <Plan name="Pasión" pricing="169.00" label="Try free for 15 days">
          <ul slot="includes">
            <ItemPlan name="Couple's info" include={1} />
            <ItemPlan name="Event's Date and Time" include={1} />
            <ItemPlan name="Ceremony info" include={1} />
            <ItemPlan name="Celebration info" include={1} />
            <ItemPlan name="Our parent's section" include={1} />
            <ItemPlan name="Dress code section" include={1} />
            <ItemPlan name="Event program / Itinerary" include={1} />
            <ItemPlan name="Gift's table" include={1} />
            <ItemPlan name="Our history" include={0} />
            <ItemPlan name="Best wishes" include={0} />
          </ul>
        </Plan>
        <Plan
          name="Eternidad"
          pricing="189.00"
          label="Try free for 15 days"
        >
          <ul slot="includes">
            <ItemPlan name="Couple's info" include={1} />
            <ItemPlan name="Event's Date and Time" include={1} />
            <ItemPlan name="Ceremony info" include={1} />
            <ItemPlan name="Celebration info" include={1} />
            <ItemPlan name="Our parent's section" include={1} />
            <ItemPlan name="Dress code section" include={1} />
            <ItemPlan name="Event program / Itinerary" include={1} />
            <ItemPlan name="Gift's table" include={1} />
            <ItemPlan name="Our history" include={1} />
            <ItemPlan name="Best wishes" include={1} />
          </ul>
        </Plan>
      </article>
    </section>
  </section>

  <section
    class="container py-5 px-5 md:mx-auto lg:m-auto xl:m-auto xl:w-11/12 xl:mt-10"
  >
    <h2 class="block mt-5 uppercase text-secondd-950 mb-6 lg:text-center">
      How it works? 
    </h2>

    <!-- <HowTo client:only="react" /> -->
    <HowWorks steps={info.steps} />
  </section>

  <section
    class="container py-5 px-5 mt-10 mb-10 md:mx-auto lg:m-auto xl:m-auto xl:w-11/12 xl:mt-32"
  >
    <article class="md:flex md:flex-wrap md:justify-between">
      <h2 class="text-secondd-950 mb-5 uppercase lg:w-full lg:text-center">
        Benefits
      </h2>
      <p class="mb-10 lg:w-full lg:text-center">
        We invite you to explore the exceptional benefits of our <strong>digital wedding invitations</strong>. From convenience to sustainability, every aspect of our service is designed to make your planning process easier, unique, and eco-friendly.
      </p>

      <Highlights client:only="react" deviceType="desktop" highlights={info.highlights} />
    </article>
  </section>

  <section class="bg-[url('/bg-pattern.jpg')]">
    <div
      class="container py-5 px-5 md:mx-auto lg:m-auto xl:m-auto xl:w-11/12 xl:mt-10"
    >
      <h3 class="text-secondd-950 uppercase mb-10 lg:text-center">Experiences</h3>
      <div class="lg:flex lg:justify-between">
        <CardReview
          couple="Adriana y Hector"
          review="We are fascinated by our invitation, it was very easy to make, quite economical compared to the traditional method proposals. Recommended!"
        />
        <CardReview
          couple="Alicia y Daniel"
          review="Time was running out, we didn't have time to start a traditional invitation process, and then we came to this solution. Fantastic!, we loved the process."
        />
      </div>
    </div>
  </section>

  <section
    class="container py-5 px-5 md:mx-auto lg:m-auto xl:m-auto xl:w-11/12 xl:mt-10"
  >
    <div>
      <h3 class="text-secondd-950 mb-5 uppercase lg:mt-14">
        FAQ's
      </h3>
      <p class="mb-5">There are many doubts and questions about the <strong>Digital Invitations</strong>, but Weddinvites helps to you with all.</p>

      <Faqs client:only="react" faqs={info.faqs} />
    </div>
  </section>
</Layout>
