---
import Layout from "../layouts/Layout.astro";
import CardBenefit from "../components/CardBenefit.astro";
import TopFeature from "../components/TopFeature.astro";
import FeatureCard from "../components/FeatureCard.astro";
---

<Layout title="Diseña tu Invitación Digital | Wedding Invites">
  <section
    class="container py-5 px-5 md:flex md:flex-wrap md:justify-between md:mx-auto lg:m-auto xl:m-auto xl:w-11/12 xl:mt-10"
  >
    <article class="mb-10 lg:text-center xl:w-full xl:text-center">
      <h1 class="text-secondd-950 uppercase text-4xl lg:text-5xl">
        CARACTERISTICAS
      </h1>
      <p class="mt-5">
        Los beneficios de una <b>Invitación Digital</b> son infinitos;<br
        />Sería imposible ilustrarte cada uno de ellos pero resumimos de la
        mejor manera las siguientes características.
      </p>
    </article>

    <div class="grid grid-cols-1 gap-5 lg:grid-cols-3 mb-10">
      <FeatureCard
        title="Fácil"
        content="La facilidad de uso es uno de los estandartes de la tecnología y justo eso hacemos, esto es realmente fácil."
        icon="buena-resena.png"
      />
      <FeatureCard
        title="Rápido"
        content="Todo sucede en tiempo real, no existen intermediarios ni procesos de autorización, carga y visualiza."
        icon="subiendo.png"
      />
      <FeatureCard
        title="Ecológico"
        content="En busca de 0 papel, no importa que idelogía persigas, 0 papel seguro es el plan perfecto para un invitación."
        icon="pantalla-tactil.png"
      />
    </div>

    <article class="w-full text-center mb-20">
      <h3 class="text-secondd-500 mb-5 uppercase">Autogestionable</h3>
      <p class="text-center lg:w-[80%] lg:mx-auto">
        Olvida los procesos manuales que toman mucho tiempo, deja de enviar y
        solicitar cambios para tu invitación que tardan horas o días en
        reflejarse, mejor gestiona tu invitación de forma personalizada cuando y
        desde donde quieras.
      </p>
      <img
        src="/auto-gestionable.jpg"
        alt=""
        class="mx-auto mt-10 shadow-xl rounded-md border-2 border-secondd-300 lg:w-2/3"
      />
    </article>

    <div class="grid grid-cols-1 gap-5 lg:grid-cols-2 mb-20">
      <article class="text-center mb-10">
        <h4 class="text-secondd-500 mb-5 uppercase">Diseño Personalizado</h4>
        <p>
          Utiliza tus colores, fuentes, imagenes y personaliza tu invitación con
          diseños personalizados para darle ese toque único con el que debe
          contar una invitación de boda.
        </p>
        <img
          src="/diseno-personalizado.jpg"
          alt=""
          class="mx-auto mt-10 shadow-xl rounded-md border-2 border-secondd-300 lg:w-2/3"
        />
      </article>
      <article class="text-center mb-10">
        <h4 class="text-secondd-500 mb-5 uppercase">Cambios Ilimitados</h4>
        <p>
          Realiza la cantidad de cambios que necesites a tu invitación digital,
          sin restricciones ni cuotas de uso, modifica y comparte tu invitación
          todas las veces que necesites.
        </p>
        <img
          src="/auto-gestionable.jpg"
          alt=""
          class="mx-auto mt-10 shadow-xl rounded-md border-2 border-secondd-300 lg:w-2/3"
        />
      </article>
    </div>

    <div class="w-full text-center">
      <h4 class="text-secondd-500 mb-5 uppercase">Y mucho más...</h4>
      <p class="lg:w-[80%] lg:mx-auto">
        La cantidad de características y beneficios que tiene una invitación
        digital hace imposible notarle algún punto negativo a nuestra solución
        donde todo es beneficio.
      </p>

      <div>
        <img src="/more-features.png" alt="" class="mx-auto" />
      </div>
    </div>
  </section>
</Layout>
