---
import Layout from "../layouts/Layout.astro";
import Plan from "../components/Plan.astro";
import ItemPlan from "../components/ItemPlan.astro";
import HowWorks from "../components/HowWorks.astro";
import CardBenefit from "../components/CardBenefit.astro";
import CardReview from "../components/CardReview.astro";
import Faqs from "../components/home/Faqs";
import HowTo from "../components/home/HowTo";
import Highlights from "../components/home/Highlights";
---

<Layout title="Diseña tu Invitación Digital | Wedding Invites">
  <section>
    <section class="relative h-[400px] overflow-hidden lg:h-[550px]">
      <div>
        <video src="/wedding-invites.mp4" class="w-full"></video>
      </div>
      <div
        class="absolute top-0 flex flex-col justify-center align-middle w-full h-full"
      >
<<<<<<< HEAD
        <div class="container lg:m-auto xl:m-auto xl:w-11/12">
          <h2
            class="block text-center leading-normal mb-14 text-white font-bold font-paris md:text-[3.75rem] lg:mb-1 lg:text-secondd-800"
          >
            ¡Bienvenidos a Weddinvites!
          </h2>
          <p
            class="bg-secondd-50 text-2xl text-center py-5 px-5 md:bg-transparent md:text-white sm:text-3xl xl:w-[80%] xl:m-auto"
          >
            El destino perfecto para transformar tus invitaciones de boda en
            <b>experiencias digitales únicas</b>.
          </p>
        </div>
=======
        <h1
          class="block text-center leading-normal mb-14 text-white font-paris md:text-[3.75rem] lg:mb-1"
        >
          ¡Bienvenidos a Weddinvites!
        </h1>
        <p class="text-2xl text-center pt-5 md:text-white md:text-3xl md:w-11/12 mx-auto">
          El destino perfecto para transformar tus invitaciones de boda en experiencias digitales únicas.
        </p>
>>>>>>> b2d4b940c827b9564c69de6848921a5985bbd5ea
      </div>
    </section>

    <section
      class="container py-5 px-5 -mt-5 md:mt-5 md:flex md:flex-wrap md:mx-auto lg:m-auto lg:justify-between lg:mt-10 xl:m-auto xl:w-11/12 xl:mt-10"
    >
      <article class="mb-6 px-4 lg:w-2/3">
        <h1 class="uppercase text-[2.5rem] text-secondd-800">
          Invitaciones digitales
        </h1>
        <span
          class="uppercase font-lora text-[1.5rem] block mb-5 text-secondd-500 -mt-1"
          >Para celebraciones inolvidables</span
        >
        <p class="mb-3">
          Descubre la magia de nuestras <strong
            >invitaciones digitales para bodas</strong
          >, diseñadas para cautivar tus sentidos y reflejar tu historia de amor
          de manera única. En Weddinvites, la creatividad es nuestro sello
          distintivo.
        </p>
        <p class="mb-3">
          Imagina tu boda con invitaciones que van más allá de lo convencional.
          Enamórate de nuestras creaciones, desde las clásicas hasta las más
          vanguardistas. Ofrecemos el diseño de <strong
            >invitaciones digitales para bodas</strong
          > que captura la esencia de tu amor.
        </p>
        <p class="mb-3">
          Relájate con la comodidad de nuestras <strong
            >invitaciones electrónicas de boda</strong
          >. En un mundo acelerado, Weddinvites te ofrece una solución fácil de
          usar, accesible en cualquier momento y lugar. Simplifica tu proceso de
          envío de invitaciones y da el primer paso hacia una boda inolvidable.
        </p>
        <p>
          En Weddinvites, nos apasiona ofrecer <strong
            >invitaciones virtuales para bodas</strong
          > de la más alta calidad. Nuestro compromiso con el <strong
            >diseño elegante</strong
          > y la atención meticulosa a los detalles nos posiciona como líderes en
          el mercado de <strong
            >invitaciones digitales elegantes para bodas</strong
          >. Personalizamos cada invitación para reflejar la individualidad de
          cada pareja.
        </p>
      </article>
      <article class="lg:w-1/3"><img src="/bodas-increibles.png" /></article>
    </section>

    <section
      class="container py-5 px-5 md:flex md:flex-col md:justify-between md:mx-auto lg:m-auto xl:m-auto xl:w-11/12 xl:mt-10"
    >
      <article class="mb-6 lg:text-center xl:w-full xl:text-center">
        <h2 class="text-secondd-950 uppercase mb-5">Nuestros Planes</h2>
        <p class="mb-3">
          Eleva tu boda a nuevas alturas con nuestras <strong
            >invitaciones digitales para bodas</strong
          >. Descubre la magia de Weddinvites y comienza tu viaje hacia una
          experiencia única de <strong>invitaciones digitales</strong>.
          Sumérgete en <a href="/planes" class="underline">nuestros planes</a> y
          descubre cómo transformar el camino hacia una boda inolvidable.
        </p>
        <p>
          <strong
            >¡Haz que tu celebración comience con una invitación que refleje tu
            estilo y valores!</strong
          >
        </p>
      </article>
      <article class="grid grid-cols-1 gap-5 md:grid-cols-2 xl:grid-cols-4">
        <Plan name="Save the Date" pricing="0" label="Plan gratuito">
          <ul slot="includes">
            <ItemPlan name="Información de Novios" include="1" />
            <ItemPlan name="Fecha y Hora del Evento" include="1" />
            <ItemPlan name="Información de la Ceremonia" include="1" />
            <ItemPlan name="Información Recepción" include="1" />
            <ItemPlan name="Acerca de Nuestros Padres" include="0" />
            <ItemPlan name="Información Dress Code" include="0" />
            <ItemPlan name="Programa / Itenarario" include="0" />
            <ItemPlan name="Mesa de Regalos" include="0" />
            <ItemPlan name="Nuestra Historia" include="0" />
            <ItemPlan name="Buenos Deseos" include="0" />
          </ul>
        </Plan>
        <Plan name="Amor" pricing="1,399" label="Pruébalo gratis por 15 días">
          <ul slot="includes">
            <ItemPlan name="Información de Novios" include="1" />
            <ItemPlan name="Fecha y Hora del Evento" include="1" />
            <ItemPlan name="Información de la Ceremonia" include="1" />
            <ItemPlan name="Información Recepción" include="1" />
            <ItemPlan name="Acerca de Nuestros Padres" include="1" />
            <ItemPlan name="Información Dress Code" include="1" />
            <ItemPlan name="Programa / Itenarario" include="0" />
            <ItemPlan name="Mesa de Regalos" include="0" />
            <ItemPlan name="Nuestra Historia" include="0" />
            <ItemPlan name="Buenos Deseos" include="0" />
          </ul>
        </Plan>
        <Plan name="Pasión" pricing="1,999" label="Pruébalo gratis por 15 días">
          <ul slot="includes">
            <ItemPlan name="Información de Novios" include="1" />
            <ItemPlan name="Fecha y Hora del Evento" include="1" />
            <ItemPlan name="Información de la Ceremonia" include="1" />
            <ItemPlan name="Información Recepción" include="1" />
            <ItemPlan name="Acerca de Nuestros Padres" include="1" />
            <ItemPlan name="Información Dress Code" include="1" />
            <ItemPlan name="Programa / Itenarario" include="1" />
            <ItemPlan name="Mesa de Regalos" include="1" />
            <ItemPlan name="Nuestra Historia" include="0" />
            <ItemPlan name="Buenos Deseos" include="0" />
          </ul>
        </Plan>
        <Plan
          name="Eternidad"
          pricing="2,499"
          label="Pruébalo gratis por 15 días"
        >
          <ul slot="includes">
            <ItemPlan name="Información de Novios" include="1" />
            <ItemPlan name="Fecha y Hora del Evento" include="1" />
            <ItemPlan name="Información de la Ceremonia" include="1" />
            <ItemPlan name="Información Recepción" include="1" />
            <ItemPlan name="Acerca de Nuestros Padres" include="1" />
            <ItemPlan name="Información Dress Code" include="1" />
            <ItemPlan name="Programa / Itenarario" include="1" />
            <ItemPlan name="Mesa de Regalos" include="1" />
            <ItemPlan name="Nuestra Historia" include="1" />
            <ItemPlan name="Buenos Deseos" include="1" />
          </ul>
        </Plan>
      </article>
    </section>
  </section>

  <section
    class="container py-5 px-5 md:mx-auto lg:m-auto xl:m-auto xl:w-11/12 xl:mt-10"
  >
    <h2 class="block mt-5 uppercase text-secondd-950 mb-6 lg:text-center">
      ¿Cómo funciona?
    </h2>

    <!-- <HowTo client:only="react" /> -->
    <HowWorks />
  </section>

  <section
    class="container py-5 px-5 mt-10 mb-10 md:mx-auto lg:m-auto xl:m-auto xl:w-11/12 xl:mt-32"
  >
    <article class="md:flex md:flex-wrap md:justify-between">
      <h2 class="text-secondd-950 mb-5 uppercase lg:w-full lg:text-center">
        Beneficios de la Invitación Digital
      </h2>
      <p class="mb-10 lg:w-full lg:text-center">
        Te invitamos a explorar los beneficios excepcionales de nuestras <strong
          >invitaciones digitales para bodas</strong
        >. Desde la comodidad hasta la sostenibilidad, cada aspecto de nuestro
        servicio está diseñado para hacer que tu proceso de planificación sea
        más fácil, único y ecológico.
      </p>

      <Highlights client:only="react" deviceType="desktop" />
    </article>
  </section>

  <section class="bg-[url('/bg-pattern.jpg')]">
    <div
      class="container py-5 px-5 md:mx-auto lg:m-auto xl:m-auto xl:w-11/12 xl:mt-10"
    >
      <h3 class="text-secondd-950 uppercase mb-10 lg:text-center">Opiniones</h3>
      <div class="lg:flex lg:justify-between">
        <CardReview
          couple="Adriana y Hector"
          review="Nos fascino nuestra invitación, fue muy fácil de hacer, bastante económica versus las propuestas del método tradicional. Super recomendable!"
        />
        <CardReview
          couple="Alicia y Daniel"
          review="El tiempo se nos vino encima, no teníamos tiempo de iniciar un proceso de Invitación Tradicional, y entonces llegamos a esta solución, Fantastico nos encanto la facilidad y rapidez."
        />
      </div>
    </div>
  </section>

  <section
    class="container py-5 px-5 md:mx-auto lg:m-auto xl:m-auto xl:w-11/12 xl:mt-10"
  >
    <div>
      <h3 class="text-secondd-950 mb-5 uppercase lg:mt-14">
        Preguntas Frecuentes
      </h3>
      <p class="mb-5">
        Las dudas y preguntas acerca de la Invitación Digital son muchas, pero
        Wedding Invites te resuelve todas.
      </p>

      <Faqs client:only="react" />
    </div>
  </section>
</Layout>
