---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Diseña tu Invitación Digital | Wedding Invites">
    <section
        class="container py-5 px-5 md:flex md:flex-wrap md:justify-between md:mx-auto lg:m-auto xl:m-auto xl:w-11/12 xl:mt-10"
    >
        <article class="mb-10 lg:text-center xl:w-full xl:text-center">
            <h1 class="text-secondd-950 uppercase text-4xl lg:text-5xl">
                Políticas de Privacidad
            </h1>
            <p class="mt-5">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                Nesciunt iure quibusdam similique, consectetur repellendus minus
                nostrum minima accusamus? Dolores quis fugit nostrum magnam rem
                soluta minima, dolorem quo delectus. Architecto!
            </p>
        </article>
    </section>
</Layout>
