---
interface Props {
    title: string;
    content: string;
}

const { title, content } = Astro.props;
---

<div
    class="bg-primary-100 border-solid py-5 px-5 rounded-md mb-5 shadow-md md:w-[48.5%]"
>
    <div class="flex">
        <slot name="svg-icon" />
        <h4 class="text-primary-500">{title}</h4>
    </div>
    <p class="mt-5">{content}</p>
</div>
