---
import CardHow from "../components/CardHow.astro";

const { steps } = Astro.props;
---

<div class="grid grid-cols-1 gap-5 md:grid-cols-2 xl:grid-cols-4">
    {
        steps.map((how:any) => (
            <CardHow title={how.step} content={how.summary} icon={how.icon} />
        ))
    }
</div>
